.empty-liked {
    width: max-content;
    margin: 5rem auto;
    min-height: 80vh;
}

.empty-liked__image {
    display: block;
    width: 15rem;
    height: auto;
}

.link {
    text-decoration: none;
}
