.home {
    height: 100vh;
    background-image: url(../assets/LandingPhoto.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.home-heading {
    color: var(--main-background);
    text-align: center;
}

.home-btn {
    margin-top: 2rem;
    color: var(--main-text-color);
}
