.video-page-container {
    min-height: 80vh;
}
.video-page {
    max-width: 90rem;
    margin: 1rem auto;
    padding: 1rem;
}

.video-page__video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.video-page__video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 2rem auto;
}

.video-page__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-page__button__views {
    font-size: 1.9rem;
    font-weight: 500;
}

.video-page__button {
    padding-left: 1rem;
    padding-right: 1.4rem;
}

.video-page__description {
    text-align: justify;
}
